**<p style = "text-align:center; font-size:30px"><u> Exercices de base Numpy</u></p>**

# Exercice 1

- Créez un Numpy array depuis la liste suivante [11.7, 20, 325, 10.2, 11.7, 20]
- Remplacez la première occurence de la valeur 11.7 par 5
- Remplacez toutes les occurences des valeurs 20 par 0
- Calculez la taille (mémoire) du tableau
- Modifier le typage en uint8
- Calculez la taille du tableau
- Observez les valeurs ? Que s'est-il passé ?

<br>

# Exercice 2

- Créez un Numpy array depuis la matrice suivante [[1, 2, 3], [4, 5, 6], [7, 8, np.nan]]
- Affichez :
  - Le type de données de la matrice
  - Sa forme
  - Son nombre de dimensions
  - Son nombre d'éléments
  - Depuis la forme, pouvez-vous obtenir le nombre de dimensions et le nombre d'éléments ?
- Multipliez la dernière colonne par 5 et divisez la première ligne par 0
- Modifiez le typage en *int*. Que se passe-t-il ?

<br>

# Exercice 3

1. Créez la matrice suivante dans la variable x1 :
```py
      [[10, 20, 30],
       [40, 50, 60],
       [70, 80, 90]]
```

2. Extrayez une partie de x1 dans la variable x2
```py
      [[50, 60],
       [80, 90]]
```

3. Remplacez le 50 de x2 par 99
4. Réaffichez x1

# Exercice 4

1. Créez la matrice suivante dans la variable x3
```py
      [[10, 20, 30],
       [40, 50, 60],
       [70, 80, 90]]
```

2. Extrayez __une copie__ d'une partie de x3 dans la variable x4
```py
      [[50, 60],
       [80, 90]]
```

3. Remplacez le 50 de x4 par 99
4. Réaffichez x3

# Exercice 5

- Créez une matrice (4 * 4) remplie de valeurs aléatoires comprises entre 2 et 8
- Créez un matrice d'identité (*i.e.* une matrice carrée dont la diagonale descendante principale est remplie de 1 et le reste = 0). Proposez plusieurs solutions.
- Créez une matrice dont la diagonale principale sera remplie de 6 valeurs aléatoires. Proposez plusieurs solutions.

(Tips : "zeros", "identity", "fill_diagonal")
<br>

# Exercice 6

- Reproduisez la matrice suivante (sans les noms de lignes ou colonnes)

<table border = "1" class = "dataframe">
  <thead>
    <tr style = "text-align: right;">
      <th></th>
      <th>pâtes</th>
      <th>légumes</th>
      <th>divers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>bob</th>
      <td>10€</td>
      <td>30€</td>
      <td>5€</td>
    </tr>
    <tr>
      <th>alice</th>
      <td>20€</td>
      <td>50€</td>
      <td>1€</td>
    </tr>
    <tr>
      <th>john</th>
      <td>15€</td>
      <td>30€</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>

- Affichez le montant total des achats
- Affichez les totaux des achats par personne
- Affichez les moyennes des achats par type d'aliments

<br>

# Exercice 7

Cette fois-ci nous avons les quantités achetées ainsi que le prix unitaire pour chacun des éléments

<table border = "1" class = "dataframe">
  <thead>
    <tr style = "text-align: right;">
      <th></th>
      <th>pâtes</th>
      <th>légumes</th>
      <th>divers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>bob</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>alice</th>
      <td>3</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>john</th>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
  </tbody>
</table>

```py
[20, 5, 3]
```

- Calculez le montant total par personne
- Calculez le montant total par produit

<br>